* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", Courier, monospace;
}
body {
  background-image: url(./img/background1.png);
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  width: 100%;
  height: 10vh;

  padding: 2% 0px 0px 10%;
  background-color: rgba(0, 0, 0, 0.3);
}
.logo {
  margin-right: auto;
  padding: 0;
  margin-top: 10px;
  height: 125px;
  width: 125px;
  cursor: pointer;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 0px 30px;
  margin-top: 50px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  top: -60px;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  transition: width 0.3s;
}
nav ul li a:hover::after {
  width: 50%;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  align-items: center;
  background-color: rgba(0, 0, 0, 0.656);
}
.nuestros-cafes {
  display: block;

  text-align: center;
  position: absolute;
}
.nuestros-cafes h2 {
  font-size: 750%;
  letter-spacing: 15px;
  animation: cafes 5s ease infinite;
}

h2 span:nth-child(1) {
  animation: abertura 5s linear 1;
  margin-right: 20px;
}
h2 span:nth-child(2) {
  animation: abertura2 5s linear 1;
}

@keyframes cafes {
  0% {
    text-shadow: 0 0 10px rgb(37, 12, 1);
    color: #000;
    font-size: 500%;
  }
  50% {
    font-size: 600%;
  }

  100% {
    text-shadow: 0 0 10px rgb(37, 12, 1), 0 0 20px rgb(37, 12, 1),
      0 0 40px rgb(37, 12, 1), 0 0 80px rgb(37, 12, 1), 0 0 120px rgb(37, 12, 1),
      0 0 160px rgb(37, 12, 1);

    color: rgb(255, 255, 255);
    font-size: 500%;
  }
}
@keyframes abertura {
  0% {
    position: relative;
    left: 0px;
  }
  50% {
    position: relative;
    left: -100px;
  }
  60% {
    position: relative;
    left: -5px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}
@keyframes abertura2 {
  0% {
    position: relative;
    right: 0px;
  }
  50% {
    position: relative;
    right: -100px;
  }
  60% {
    position: relative;
    right: -5px;
  }
  100% {
    position: relative;
    right: 0px;
  }
}

.eurocafe {
  display: flex;
  flex-wrap: wrap;
}
.eurocafe a {
  margin-top: 10%;
  margin-left: 25%;
}
.eurocafe a img {
  height: 45%;
  border: 1px solid #222;
  padding: 10px;
  border-radius: 12px;
  background-color: #000;
  border: #fff 1px solid;
}

.grano1 {
  height: 40%;
  width: 40%;
}
.pilao {
  display: flex;
  justify-content: space-around;
  
}

.pilao a img {
  width: 300px;
  background-color: #fff;
  
  order: 1;
  margin-top: 50%;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 100px;
}
.grano2 {
  width: 30%;
  order: 2;

  top: -300px;
}
footer {
  background: rgb(15, 16, 34);
  height: auto;
  width: 100vw;
  padding-top: 20px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: rgb(61, 61, 61);
}
.footer-bottom {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.892),
    rgba(0, 0, 0, 0.656)
  );
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
}
/* RESPONSIVE */
@media screen and (max-width: 420px) {
  header {
    height: 25vh;
    width: 100vw;
  }
  .logo {
    position: absolute;
    top: 0;
    right: 55%;
  }
  nav ul {
    width: 100%;
    position: absolute;
    top: 130px;
    right: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  nav ul li {
    padding: 15px;
    margin: 0;
    margin-top: 10px;
  }
  main {
    display: grid;
    grid-template-areas:
      "cafes cafes"
      "eurocafe eurocafe"
      "pilao pilao";
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 3fr 3fr;
    justify-items: center;
    align-items: center;
    height: 80vh;
  }
  .nuestros-cafes {
    position: relative;
    grid-area: cafes;
    margin: 40px;
  }
  .nuestros-cafes h2 {
    font-size: 200%;
    animation: cafes 5s ease infinite;
    letter-spacing: 6px;
  }
  @keyframes cafes {
    0% {
      text-shadow: 0 0 10px rgb(37, 12, 1);
      color: #000;
    }

    100% {
      text-shadow: 0 0 10px rgb(37, 12, 1), 0 0 20px rgb(37, 12, 1),
        0 0 40px rgb(37, 12, 1), 0 0 80px rgb(37, 12, 1),
        0 0 120px rgb(37, 12, 1), 0 0 160px rgb(37, 12, 1);

      color: rgb(255, 255, 255);
    }
  }

  .eurocafe {
    display: block;
    grid-area: eurocafe;
  }
  .eurocafe a {
    margin: 0;
  }
  .eurocafe a img {
    width: 80vw;

    padding: 20px;
  }

  .grano1 {
    display: none;
  }
  .pilao {
    grid-area: pilao;
    display: block;
  }
  .pilao a img {
    width: 80vw;
    height: 150px;
    margin-bottom: 40px;
    position: relative;
    top: -100px;
  }
  .grano2 {
    display: none;
  }
}


@media screen and (min-width: 420px) and (max-width: 576px) {
  header {
    height: 22vh;
    width: 100vw;
  }
  .logo {
    position: absolute;
    top: 10px;
    right: 70%;
  }
  nav ul {
    width: 100%;
    position: absolute;
    top: 130px;
    right: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 5px;
  }
  nav ul li {
    padding: 10px 25px;
    margin: 0;
    margin-top: 10px;
  }
  main {
    display: grid;
    grid-template-areas:
      "cafes cafes"
      "eurocafe eurocafe"
      "pilao pilao";
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 3fr 3fr;
    justify-items: center;
    align-items: center;
    height: 80vh;
  }
  .nuestros-cafes {
    position: relative;
    grid-area: cafes;
    margin: 40px;
  }
  .nuestros-cafes h2 {
    font-size: 200%;
    animation: cafes 5s ease infinite;
    letter-spacing: 6px;
  }
  @keyframes cafes {
    0% {
      text-shadow: 0 0 10px rgb(37, 12, 1);
      color: #000;
    }

    100% {
      text-shadow: 0 0 10px rgb(37, 12, 1), 0 0 20px rgb(37, 12, 1),
        0 0 40px rgb(37, 12, 1), 0 0 80px rgb(37, 12, 1),
        0 0 120px rgb(37, 12, 1), 0 0 160px rgb(37, 12, 1);

      color: rgb(255, 255, 255);
    }
  }

  .eurocafe {
    display: block;
    grid-area: eurocafe;
  }
  .eurocafe a {
    margin: 0;
  }
  .eurocafe a img {
    width: 80vw;

    padding: 20px;
  }

  .grano1 {
    display: none;
  }
  .pilao {
    grid-area: pilao;
    display: block;
  }
  .pilao a img {
    width: 80vw;
    height: 150px;
    margin-bottom: 40px;
    position: relative;
    top: -100px;
  }
  .grano2 {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  header {
    height: 22vh;
    width: 100vw;
  }
  .logo {
    position: relative;
    top: -20px;
  }
  nav ul {
    width: 100%;
    position: absolute;
    top: 130px;
    right: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  nav ul li {
    padding: 15px 40px;
    margin: 0;
    margin-top: 10px;
  }
  main {
    display: grid;
    grid-template-areas:
      "cafes cafes"
      "eurocafe eurocafe"
      "pilao pilao";
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 3fr 3fr;
    justify-items: center;
    align-items: center;
    height: 85vh;
  }
  .nuestros-cafes {
    position: relative;
    grid-area: cafes;
    margin: 40px;
  }
  .nuestros-cafes h2 {
    font-size: 400%;
    animation: cafes 5s ease infinite;
    letter-spacing: 6px;
  }
  @keyframes cafes {
    0% {
      text-shadow: 0 0 10px rgb(37, 12, 1);
      color: #000;
    }

    100% {
      text-shadow: 0 0 10px rgb(37, 12, 1), 0 0 20px rgb(37, 12, 1),
        0 0 40px rgb(37, 12, 1), 0 0 80px rgb(37, 12, 1),
        0 0 120px rgb(37, 12, 1), 0 0 160px rgb(37, 12, 1);

      color: rgb(255, 255, 255);
    }
  }

  .eurocafe {
    display: block;
    grid-area: eurocafe;
  }
  .eurocafe a {
    display: flex;
    justify-content: center;
    position: relative;
    left: -40px;
  }
  .eurocafe a img {
    width: 50vw;
    margin-bottom: 200px;
    padding: 20px;
  }

  .grano1 {
    display: none;
  }
  .pilao {
    grid-area: pilao;
  }

  .pilao a img {
    width: 50vw;
    height: 150px;
    margin-bottom: 40px;
    position: relative;
    top: -220px;
  }
  .grano2 {
    display: none;
  }
  
}

@media screen and (min-width:768px) and (max-width: 996px){
  header {
    height: 20vh;
    width: 100vw;
  }
  .logo {
    position: relative;
    top: -20px;
  }
  nav ul {
    width: 100%;
    position: absolute;
    top: 130px;
    right: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  nav ul li {
    padding: 15px 40px;
    margin: 0;
    margin-top: 10px;
  }
  main {
    display: grid;
    grid-template-areas:
      "cafes cafes"
      "eurocafe eurocafe"
      "pilao pilao";
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 3fr 3fr;
    justify-items: center;
    align-items: center;
    height: 85vh;
  }
  .nuestros-cafes {
    position: relative;
    grid-area: cafes;
    margin: 40px;
  }
  .nuestros-cafes h2 {
    font-size: 400%;
    animation: cafes 5s ease infinite;
    letter-spacing: 6px;
  }
  @keyframes cafes {
    0% {
      text-shadow: 0 0 10px rgb(37, 12, 1);
      color: #000;
    }

    100% {
      text-shadow: 0 0 10px rgb(37, 12, 1), 0 0 20px rgb(37, 12, 1),
        0 0 40px rgb(37, 12, 1), 0 0 80px rgb(37, 12, 1),
        0 0 120px rgb(37, 12, 1), 0 0 160px rgb(37, 12, 1);

      color: rgb(255, 255, 255);
    }
  }

  .eurocafe {
    display: block;
    grid-area: eurocafe;
  }
  .eurocafe a {
    display: flex;
    justify-content: center;
    position: relative;
    left: -50px;
  }
  .eurocafe a img {
    width: 50vw;
    margin-bottom: 120px;
    padding: 20px;
  }

  .grano1 {
    display: none;
  }
  .pilao {
    grid-area: pilao;
  }

  .pilao a img {
    width: 50vw;
    height: 150px;
    margin-bottom: 40px;
    position: relative;
    top: -220px;
  }
  .grano2 {
    display: none;
  }
  
}
@media screen and (min-width: 996px) and (max-width: 1200px) {
  
  nav {
    margin-top: 20px;

  }
 
  .logo {
    margin-top: 20px;
    
  }
  .eurocafe{
    display: flex;
    justify-content: space-evenly;
  }
  .eurocafe a {
    margin-bottom: 100px;
    margin-left: 15%;
  }
  .eurocafe a img {
    height: 60%;
  }
  .pilao{
    display: flex;
    justify-content: space-evenly;
  }
 


  .grano2 {
    width: 40%;
  }
  
}
