* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}
body {
  background-image: url(./imgs/background1.png);
  background-position: cover;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: 10vh;

  padding: 2% 0px 0px 10%;
}
.logo {
  margin-right: auto;
  padding: 0;

  height: 125px;
  width: 125px;
  cursor: pointer;
}


nav ul {
  list-style: none;
  margin-right: 10vh;
}
nav ul li {
  display: inline-block;
  padding: 0px 30px;
  margin-top: 50px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  top: -60px;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  transition: width 0.3s;
}
nav ul li a:hover::after {
  width: 50%;
}

/* MAPS */
.dioniso {
  display: flex;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.6);
  flex-direction: row-reverse;
  justify-content: space-between;
  width: auto;
  height: 50vh;
}
.dioimg img {
  width: 50vw;
  max-height: 50vh;
}
.diocard {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 45%;
  top: 20%;
  width: auto;
  font-size: 40px;
  padding: 20px 60px;
  text-align: center;
  z-index: 3;
}
.diocard h2 {
  font-family: "Great Vibes", cursive;
  color: #c49b63;
  font-weight: 100;
}
.diocard h3 {
  color: #fff;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -10px;
}
.diocard p {
  color: rgb(226, 225, 225);
  font-size: 15px;
  font-weight: 100;
}
.diomap iframe {
  height: 50vh;
  width: 50vw;
  position: relative;
  right: -10px;
  z-index: 2;
}
.carser {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  width: auto;
  height: 50vh;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.6);
}
.csimg img {
  width: 50vw;
  max-height: 50vh;
}
.cscard {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 27%;
  top: 75%;
  width: auto;
  font-size: 40px;
  padding: 20px 150px;
  text-align: center;
}
.cscard h2 {
  font-family: "Great Vibes", cursive;
  color: #c49b63;
  font-weight: 100;
}
.cscard h3 {
  color: #fff;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -20px;
}
.cscard p {
  color: rgb(226, 225, 225);
  font-size: 15px;
  font-weight: 100;
}
.csmap iframe {
  height: 50vh;
  width: 50vw;
}
/* footer */
footer {
  background: rgb(15, 16, 34);
  height: auto;
  width: 100vw;
  padding-top: 20px;
  color: #fff;
  margin-top: 2px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: rgb(61, 61, 61);
}

.footer-bottom {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.892),
    rgba(0, 0, 0, 0.656)
  );
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
}
@media screen and (max-width: 576px) {
  header {
    height: 30vh;
    overflow-x: hidden;
  }
  .logo {
    width: 25vh;
    position: absolute;
    top: 5px;
    left: 0px;
  }
  nav {
    position: relative;
    top: 60px;
    display: flex;

    margin-top: 20px;
    width: 100vw;
  }
  nav ul {
    width: 100%;
    display: flex;
    margin-right: 0;
    margin-top: 40px;
    align-items: center;
    display: flex;

    flex-direction: column;
  }
  nav ul li {
    display: flex;
    flex-wrap: wrap;
    margin: 4px 50px;
    margin-bottom: 10px;
    padding: 0px 10px;
  }
  .dioniso {
    height: auto;
    width: 100vw;

    justify-content: center;
    flex-direction: column;
  }
  .diocard {
    position: relative;
    left: 0;
    top: 0;
    padding: 15px 50px;
  }
  .diocard h2 {
    font-size: 100%;
    margin-bottom: 20px;
  }
  .diocard h3 {
    font-size: 16px;
  }
  .dioimg img {
    display: none;
  }
  .diomap iframe {
    width: 95vw;
    right: -10px;
    margin-top: 2px;
    padding: 12px 0;
  }

  .carser {
    height: auto;
    width: 100vw;
    flex-direction: column;
    margin-top: 4px;
  }

  .csimg img {
    display: none;
  }
  .cscard {
    position: relative;
    height: 30vh;
    padding: 15px 50px;
    left: 0;
    top: 0;
  }
  .cscard h3 {
    font-size: 16px;
    top: 0px;
    margin-bottom: 20px;
  }
  .csmap iframe {
    width: 95vw;
    padding: 12px 0;
    margin-top: 2px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 576px) and (max-width: 1000px) {
  header {
    height: 20vh;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 120px;
  }

  .dioniso {
    flex-direction: column;
    height: 80vh;
  }
  .dioimg img {
    display: none;
  }

  .diocard {
    height: 30vh;
    width: 100vw;
    position: relative;
    left: 0;
    top: 0;
  }
  .diomap iframe {
    width: 100vw;
    right: 0;
  }

  .carser {
    flex-direction: column;
    height: 75vh;
    justify-content: flex-start;
    margin-top: 2px;
  }
  .csimg img {
    display: none;
    width: 100vw;
  }

  .cscard {
    position: relative;
    top: 0;
    left: 0;
  }
  .csmap iframe {
    width: 100vw;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1440px) {
  header {
    margin-top: 20px;
  }
  .dioimg img{
    height: 50vh;
    object-fit: cover;
    object-position: bottom left;
  }
  .csimg img{
    height: 50vh;
    object-fit: cover;
    
  }
}
