

footer{
    background-color: $ft-color;
    @extend %centrar;
    height: auto;
    width: 100vw;
    padding-top: 20px;
    color: #fff;
     .footer-content {
        @extend %centrar;
        flex-direction: column;
         h3{
            font-size: 1.8rem;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 3rem;
            
        }
    }
    .socials{
        @extend %centrar;
        list-style: none;
        margin: 1rem 0 3rem 0;
         li{
            margin: 0 10px;
        }
         a{
            text-decoration: none;
            color: #fff;
            &:hover{
                color: rgb(61, 61, 61);
            }
            i{
                font-size: 1.1rem;
                transition: color 0.4s ease;
                
            }
        
        }
    }
    .footer-bottom {
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.892),
            rgba(0, 0, 0, 0.656)
            );
        width: 100vw;
        padding: 20px 0;
        text-align: center;
        p{
            font-size: 14px;
            word-spacing: 2px;
            text-transform: capitalize;
        }
        span{
            text-transform: uppercase;
            opacity: 0.4;
        }
    }
}


