footer .socials, footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: rgb(15, 16, 34);
  height: auto;
  width: 100vw;
  padding-top: 20px;
  color: #fff;
}
footer .footer-content {
  flex-direction: column;
}
footer .footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
footer .socials {
  list-style: none;
  margin: 1rem 0 3rem 0;
}
footer .socials li {
  margin: 0 10px;
}
footer .socials a {
  text-decoration: none;
  color: #fff;
}
footer .socials a:hover i {
  color: rgb(61, 61, 61);
}
footer .socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
footer .footer-bottom {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.892), rgba(0, 0, 0, 0.656));
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
footer .footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
footer .footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
}

nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 0px 30px;
  margin-top: 50px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  top: -60px;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  transition: width 0.3s;
}
nav ul li a:hover::after {
  width: 50%;
}

* {
  font-family: "Bebas Neue", Courier, monospace;
}

body {
  background-image: url(../../../imgs/background1.png);
  filter: saturate(150%);
  background-image: cover;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
  padding: 10px 0px 0px 10%;
}

.logo {
  margin-right: auto;
  padding: 0;
  height: 125px;
  width: 125px;
  cursor: pointer;
}

main {
  max-height: 880px;
}

section {
  padding: 40px 15%;
}

.contact-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 6rem;
}

.logodioniso img {
  max-width: 100%;
  width: 720px;
  height: auto;
  border-radius: 10px;
}

.contact h1 {
  font-size: 80px;
  color: #fff;
}
.contact p {
  color: #111;
  letter-spacing: 4px;
  font-weight: 600;
  line-height: 26px;
  font-size: 1.2rem;
  margin-bottom: 3.8rem;
  -webkit-text-stroke: #000 0.5px;
}
.contact p:hover {
  font-size: 1.25rem;
  color: #fff;
  background-color: #000;
  -webkit-text-stroke: #fff;
}
.contact form {
  position: relative;
}
.contact form input, .contact form textarea {
  width: 100%;
  padding: 17px;
  border: none;
  outline: none;
  background: #191919;
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;
}
.contact form .boton {
  display: inline-block;
  background-color: #7c3131;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 10px;
  width: 220px;
  transition: ease 0.2s;
  cursor: pointer;
}
.contact form .boton:hover {
  border: 2px solid #7b4456;
  background: transparent;
  transform: scale(1.1);
}
.contact form textarea {
  resize: none;
  height: 200px;
}

@media screen and (max-width: 380px) {
  header {
    height: 30vh;
  }
  section {
    padding: 0;
  }
  .logo {
    width: 25vh;
    position: relative;
    top: -30px;
    right: 30px;
  }
  .contact h1 {
    font-size: 50px;
    color: #fff;
  }
  nav ul {
    margin-top: 40px;
    width: 100%;
    position: absolute;
    top: 140px;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav ul li {
    display: block;
    margin: 4px 0px;
    margin-bottom: 25px;
    padding: 5px 10px;
  }
  main {
    max-height: 820px;
  }
  .logodioniso {
    display: none;
  }
  .contact {
    margin-left: 20px;
  }
  .contact form input, .contact form textarea {
    width: 96%;
  }
}
@media screen and (min-width: 380px) and (max-width: 576px) {
  header {
    height: 25vh;
  }
  section {
    padding: 0;
  }
  .logo {
    width: 25vh;
    position: relative;
    top: -30px;
    right: 30px;
  }
  nav ul {
    margin-top: 40px;
    width: 100%;
    position: absolute;
    top: 140px;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav ul li {
    display: block;
    margin: 4px 0px;
    margin-bottom: 25px;
    padding: 5px 10px;
  }
  main {
    max-height: 860px;
  }
  .logodioniso {
    display: none;
  }
  .contact {
    margin-left: 20px;
  }
  .contact form input, .contact form textarea {
    width: 96%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  header {
    height: 20vh;
  }
  section {
    padding: 20px;
  }
  nav ul {
    width: 100%;
    position: absolute;
    top: 140px;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav ul li {
    display: block;
    margin: 4px 0px;
    margin-bottom: 25px;
    padding: 5px 20px;
  }
  .logo {
    width: 25vh;
    position: relative;
    top: -30px;
    right: 30px;
  }
  .logodioniso {
    display: none;
  }
  .contact form input {
    width: 100%;
  }
  .contact form textarea {
    width: 100%;
  }
  .contact h1 p {
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header {
    height: 15vh;
  }
  nav ul {
    padding-top: 10px;
    width: 100%;
    font-size: 16px;
    position: absolute;
    top: 75px;
    right: 0;
    display: flex;
    justify-content: flex-end;
  }
  nav ul li {
    margin-top: 60px;
    margin-right: 10px;
    font-size: 1.1em;
    padding: 30px;
  }
  section {
    padding: 100px;
  }
  .logo {
    width: 19vh;
    margin-top: 50px;
  }
  .logodioniso {
    display: none;
  }
  .contact form input {
    width: 150%;
  }
  .contact form textarea {
    width: 150%;
  }
}

/*# sourceMappingURL=cont_style.css.map */
